{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block body %}
<div>

    <h1>Quiz</h1>

    {% for message in app.flashes('error') %}
        <div class="flash-notice alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <div class="accordion my-5" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button fw-bold bg-dark-subtle" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    Quiz Menu
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                <div class="accordion-body">

                    {% if active_quiz %}
                        <div>There is unfinished Quiz</div>
                        <div>
                            <span>Quiz №{{ active_quiz.id }}</span> <a href="{{ path('app_quiz') }}">Continue</a>
                        </div>
                        <div>
                            <a href="{{ path('app_start') }}">Finish this Quiz and start a new one</a>
                        </div>
                    {% else %}
                        <div>
                            <a href="{{ path('app_start') }}">Start a new Quiz</a>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed fw-bold bg-dark-subtle" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    Finished Quizzes
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                <div class="accordion-body">

                    {% if not finished_quizzes %}
                        <div>There is no any finished Quiz</div>
                    {% else %}

                        <ul class="list-group list-group-flush">
                            {% for item in finished_quizzes %}
                                <li class="list-group-item"><a href="{{ path('app_result', {'quizId': item.id }) }}">Quiz №{{ item.id }}</a> {% if item.startedAt %} / {{ item.startedAt }}{% endif %}</li>
                            {% endfor %}
                        </ul>

                    {% endif %}

                </div>
            </div>
        </div>
    </div>

    <div class="card my-5">
        <div class="card-body">
            <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    </div>

</div>
{% endblock %}
